<h1>Listing blogs</h1>

<table cellpadding = "20" frame="box" aligin="center">
  <tr>
    <th>Picture</th>
    <th>Name</th>
    <th>Description</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @blogs.each do |blog| %>
  <tr>
    <td><%= image_tag blog.photo.url(:small) %></td>
    <td><%= blog.name %></td>
    <td><%= blog.description %></td>
    <td><%= blog.user_id %></td>
    <td><%= link_to 'Show', blog %></td>
    <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
    <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Blog', new_blog_path %>
